@charset "UTF-8";
@use "./../mixins/misc.scss" as com;
@use "./../mixins/icon.scss" as icon;
@use "./../common.module.scss" as *;

.#{$namespace}-dialog {
	@include com.panel();
	--max-height: calc(100vh - 2em);
	--content-max-height: calc(var(--max-height) - 8em);
	--inner-padding: .75em;
	max-width: calc(100vw - 1em); //预留一些缝隙
	position: fixed;
	z-index: var(--dialog-z-index);
	margin: auto;
	inset: 0;
	border: none;
	padding: 0;

	.#{$namespace}-dialog-title {
		color: var(--color-secondary);
		line-height: 1;
		padding: var(--inner-padding) 0 0 var(--inner-padding);
	}

	.#{$namespace}-dialog-content {
		padding: 1em;
		overflow: auto;
		max-width: calc(100vw - 2em);
		max-height: var(--content-max-height);
	}

	.#{$namespace}-dialog-close-btn {
		font-size: 1em;
		width: 1em;
		height: 1em;
		position: absolute;
		right: var(--inner-padding);
		top: var(--inner-padding);
		@include icon.icon-button;

		&:before {
			content: "\e625";
		}
	}

	.#{$namespace}-dialog-buttons {
		display: flex;
		padding: var(--inner-padding);
		gap: var(--gap, var(--inner-padding));
		justify-content: var(--align, "right");
	}

	.form-portrait .#{$namespace}-dialog-buttons {
		padding: 0;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
		/* 半透明黑色背景 */
		box-shadow: 1px 1px 10px #ccc;
		/* 添加阴影 */
		backdrop-filter: blur(3px);
		/* 添加模糊效果 */
	}

	&-alert,
	&-confirm,
	&-prompt {
		min-width: 15em;
		max-width: min(30em, calc(100vw - 2em));

		.#{$namespace}-dialog-content {
			padding: .5em var(--inner-padding);
			max-height: calc(100vh - 20em);
			overflow: auto;
		}
		.#{$namespace}-dialog-title {}
	}

	&-prompt {
		.#{$namespace}-dialog-content {
			padding: 1em var(--inner-padding);
		}

		.#{$namespace}-dialog-title {
			padding-top: 1.5em;
			font-size: 1em;
		}

		input[type="text"],
		input[type="password"],
		input[type="number"],
		textarea {
			width: 100%;
			box-sizing: border-box;
		}
	}

	&-iframe {
		.#{$namespace}-dialog-content {
			padding: 0 !important;
		}

		iframe {
			display: block;
			width: 100%;
			height: var(--init-height, var(--content-height, var(--default-height, 10em)));
			border: none;
			max-width: 100vw;
			max-height: var(--content-max-height);
		}
	}

	&-iframe-loading {
		.#{$namespace}-dialog-content {
			background: url("/assets/loading.gif") no-repeat center center;
		}

		iframe {
			visibility: hidden;
		}
	}

	&-img-preview {
		.#{$namespace}-dialog-content {
			padding: 0;

			img {
				display: block;
				cursor: pointer;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.#{$namespace}-dialog-close-btn {
			background-color: var(--color-background);
			border-radius: 50%;
			width: 2.5em;
			height: 2.5em;
			top: -1em;
			right: -1em;
			opacity: 0.5;
			transition: all 0.1s ease-in-out;

			@include icon.icon-button;

			&:hover {
				opacity: 1;
			}
		}
	}

	&-progress {
		.#{$namespace}-dialog-content {
			padding: 1.5em;
		}

		progress {
			width: 20em;
			margin: 0.75em 0;
		}

		.pd-title {}

		.pd-message {
			opacity: 0.6;
		}

		.pd-status {
			zoom: .8;
			display: flex;
			justify-content: space-between;
			opacity: 0.6;
		}
	}
}

.#{$namespace}-dialog-wrap {
	.#{$namespace}-dialog-masker {
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(3px);
		z-index: var(--dialog-z-index)
	}

	&[data-modal="false"] {
		.#{$namespace}-dialog-masker {
			display: none;
		}

		.#{$namespace}-dialog {
			border: 1px solid var(--color-element-border);
		}
	}
}