@charset "UTF-8";
@use "./../mixins/misc.scss" as com;

:root {
	--novice-zindex: var(--novice-z-index);
	--novice-arrow-offset: 2em; //箭头偏移边际余量
	--novice-highlight-padding: 5px;
	--novice-arrow-size: 1em;
}

.paper-novice {
	&-highlight {
		position: absolute;
		z-index: var(--novice-zindex);
		border-radius: var(--panel-radius);
		box-shadow: 0 0 10px 20000px #00000057;
		padding: var(--novice-highlight-padding);
		transition: all 0.3s ease;
		margin: calc(var(--novice-highlight-padding) * -1) 0 0 calc(var(--novice-highlight-padding) * -1);
	}

	&-masker {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: var(--novice-zindex);
	}

	&-popover {
		z-index: calc(var(--novice-zindex) + 1) !important;
	}

	&-content-wrap {
		min-width: 10em;
		max-width: 35em;

		.paper-novice-content {
			padding: 0.5em 0 1em;
		}

		.paper-novice-buttons {
			display: flex;
			gap: 1em;
			justify-content: end;

			.novice-next-btn {
				margin-left: auto;
				;
			}
		}
	}
}
