@charset "UTF-8";
@use "./../mixins/misc.scss" as com;
@use "./../common.module.scss" as *;

:root {
	--#{$ns}-novice-arrow-offset: 2em; //箭头偏移边际余量
	--#{$ns}-novice-highlight-padding: 5px;
	--#{$ns}-novice-arrow-size: 1em;
	--#{$ns}-novice-zindex: calc(var(--#{$ns}-dialog-zindex) + 1);
}

.#{$ns}-novice {
	&-highlight {
		position: fixed;
		z-index: var(--#{$ns}-novice-zindex);
		border-radius: var(--#{$ns}-panel-radius);
		box-shadow: 0 0 10px 20000px #00000057;
		padding: var(--#{$ns}-novice-highlight-padding);
		transition: all 0.3s ease;
		margin: calc(var(--#{$ns}-novice-highlight-padding) * -1) 0 0 calc(var(--#{$ns}-novice-highlight-padding) * -1);
	}

	&-masker {
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: var(--#{$ns}-novice-zindex);
	}

	&-popover {
		z-index: calc(var(--#{$ns}-novice-zindex) + 1) !important;
	}

	&-content-wrap {
		min-width: 10em;
		max-width: 35em;

		.#{$ns}-novice-content {
			padding: 0.5em 1em;
		}

		.#{$ns}-novice-buttons {
			display: flex;
			gap: 1em;
			padding: .5em 1em;
			justify-content: end;

			.#{$ns}-novice-next-btn {
				margin-left: auto;
				;
			}
		}
	}
}