@charset "UTF-8";
@use "@/styles/common.module.scss" as *;
@use "@/styles/mixins/icon.scss" as icon;

.#{$namespace}-pagination {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: right;

    &-icon-left {
        @include icon.icon-button;
        &:before {
            content: "\e6106"
        }
    }

    &-icon-right {
        @include icon.icon-button;

        &:before {
            content: "\e6105"
        }
    }
}