@charset "UTF-8";
@use "@/styles/common.module.scss" as *;

.#{$namespace}-range-selector {
	display: inline-flex;
	align-content: center;
	gap: .25em;
	vertical-align: middle;

	input {
		width: 6em;
	}

	.rs-input {
		border: 1px solid transparent;
		margin-right: 0.1em;
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}

	input[type="range"] {
		-webkit-appearance: none;
		--thumb-size: 18px;
		--thumb-border: 1px solid var(--color-element-border);
		--thumb-radius: 50%;
		--thumb-background: var(--color-background);

		--track-background: var(--color-element-border);
		--track-height: 5px;
		background-color: transparent;

		&:focus,
		&:hover {
			outline: none;

			&::-webkit-slider-thumb {
				border-color: var(--color-link);
			}
		}

		&::-webkit-slider-runnable-track {
			width: 100%;
			height: var(--track-height);
			cursor: pointer;
			animate: 0.2s;
			box-shadow: 0px 0px 0px var(--color-background);
			background: var(--track-background);
			border-radius: 1px;
			border: 0px solid var(--color-background);
		}

		&::-webkit-slider-thumb {
			box-shadow: 0px 0px 0px var(--color-background);
			border: var(--thumb-border);
			height: var(--thumb-size);
			width: var(--thumb-size);
			border-radius: var(--thumb-radius);
			background: var(--thumb-background);
			cursor: pointer;
			-webkit-appearance: none;
			margin-top: calc(-1 * var(--thumb-size) / 2 + var(--track-height) / 2);
		}

		&:focus::-webkit-slider-runnable-track {
			background: var(--track-background);
		}
	}
}