@charset "UTF-8";
@use "./../common.module.scss" as *;

.#{$ns}-statewidget-loading,
.#{$ns}-statewidget-empty,
.#{$ns}-statewidget-error {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

.#{$ns}-statewidget-loading {
    opacity: 0.75;
}
.#{$ns}-statewidget-empty {
    opacity: 0.3;
    &:before {
        content: "\e64a";
        font-family: var(--#{$ns}-font-icon);
        transform: scale(1.3);
    }
}
.#{$ns}-statewidget-error {
    color: var(--#{$ns}-color-danger);
    &:before {
        content: "\e6f0";
        font-family: var(--#{$ns}-font-icon);
        transform: scale(1.3);
    }
}
