@charset "UTF-8";
@use "./../common.module.scss" as *;
@use "./../mixins/misc.scss" as com;
@use "./../mixins/icon.scss" as icon;


.#{$ns}-datalist-input-matched {
	color: var(--#{$ns}-color-hight);
}

.#{$ns}-datalist-input-history-delete {
	@include icon.icon-button;
	font-size: 0.7em;
	opacity: 0.3;

	&:hover {
		opacity: 1;
	}

	&:before {
		content: "\e6e0";
	}

	.#{$ns}-menu-item:has(&) .#{$ns}-menu-item-content {
		margin-right: .5em;
	}
}