@charset "UTF-8";
@use "./../common.module.scss" as *;

.#{$namespace}-wordcounter {
    pointer-events: none;
    display: inline-flex;
    gap: 0.15em;
    opacity: 0.5;

    &--overload {
        opacity: 1;

        .#{$namespace}-wordcounter-ct {
            color: red;
        }
    }
}