@charset "UTF-8";
@use "./../common.module.scss" as *;
.#{$namespace}-input-counter {
    pointer-events: none;
    color: #aaa;
    display: inline-flex;
    font-size: var(--font-small);
    .#{$namespace}-slash {
        display: inline-block;
        padding: 0 0.1em;
    }
    &--overload {
        color: var(--color);
        .#{$namespace}-ct {
            color: red;
        }
    }
}

textarea ~ .#{$namespace}-input-counter {
    float: right;
    margin: -1.5em 0.5em 0 0;
}
