@charset "UTF-8";

@use "./mixin" as com;

.paper-dialog {
	@include com.panel();
	--max-height: calc(100vh - 2em);
	--content-max-height: calc(var(--max-height) - 8em);
	max-width: calc(100vw - 1em); //预留一些缝隙
	position: fixed;
	z-index: var(--dialog-z-index);
	inset: 0;
	border: none;
	padding: 0;

	.dlg-title {
		color: var(--color-secondary);
		padding: 1em 0 0 1em;
	}

	.dlg-ctn {
		padding: 1em;
		overflow: auto;
		max-width: calc(100vw - 2em);
		max-height: var(--content-max-height);
	}

	//指定内容区域滚动
	&:has(.scrollhere) {
		// max-height: var(--content-max-height);
		// @include com.scrollableinherit();
		// .dlg-ctn {
		// 	max-height: fit-content;
		// 	overflow: hidden;
		// }
		// *:has(.scrollhere) {
		// 	@include com.scrollableinherit();
		// }

		// .scrollhere {
		// 	@include com.scrollhere();
		// }
	}

	.dlg-close-btn {
		font-size: 1em;
		width: 1.5em;
		height: 1.5em;
		position: absolute;
		right: 0.5em;
		top: 0.5em;

		&:before {
			content: "\e625";
		}
	}

	.dlg-buttons {
		display: flex;
		padding: 1em 0 0 0;
		gap: 0.5em;
		justify-content: right;
	}

	.form-portrait .dlg-buttons {
		padding: 0;
	}

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
		/* 半透明黑色背景 */
		box-shadow: 1px 1px 10px #ccc;
		/* 添加阴影 */
		backdrop-filter: blur(3px);
		/* 添加模糊效果 */
	}

	&-confirm {
		.dlg-ctn {
			padding: 1em 2em;
		}

		.cf-title {
			font-size: 1.2rem;
			padding: 0.5em 2em 0.5em 0;
		}

		.cf-content {
			padding-bottom: 0.5em;
		}

		.dlg-buttons {
			justify-content: center;
		}
	}

	&-alert {
		min-width: 15em;
		max-width: min(30em, calc(100vw - 2em));

		.dlg-ctn {
			padding: 1em 2em;
		}

		.al-title {
			font-size: 1.2rem;
			padding: 0.5em 2em 0.5em 0;
		}

		.al-content {
			max-height: calc(100vh - 20em);
			overflow: auto;
			padding-bottom: 0.5em;
		}

		.dlg-buttons {
			justify-content: right;
		}
	}

	&-prompt {
		--element-width: 16em;

		.dlg-ctn {
			padding: 2em 2em 1.5em 2em;
		}

		.pt-inputs {
			padding: 0.75em 0 0.5em;

			input[type="text"],
			input[type="number"],
			input[type="password"],
			input[type="password"],
			textarea {
				width: 100%;
				text-align: left;
			}

			textarea {
				height: 10em;
				min-height: 8em;
				resize: vertical;
			}
		}
	}

	&-iframe {
		.dlg-ctn {
			padding: 0 !important;
		}

		iframe {
			display: block;
			width: 100%;
			height: var(--init-height, var(--content-height, var(--default-height, 10em)));
			border: none;
			max-width: 100vw;
			max-height: var(--content-max-height);
		}
	}

	&-iframe-loading {
		.dlg-ctn {
			background: url("/assets/loading.gif") no-repeat center center;
		}

		iframe {
			visibility: hidden;
		}
	}

	&-img-preview {
		.dlg-ctn {
			padding: 0;

			img {
				cursor: pointer;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.dlg-close-btn {
			background-color: var(--color-background);
			border-radius: 50%;
			width: 2.5em;
			height: 2.5em;
			top: -1em;
			right: -1em;
			opacity: 0.5;
			transition: all 0.1s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	&-progress {
		.dlg-ctn {
			padding: 1.5em;
		}

		progress {
			width: 20em;
			margin: 0.75em 0;
		}

		.pd-title {}

		.pd-message {
			opacity: 0.6;
		}

		.pd-status {
			zoom: .8;
			display: flex;
			justify-content: space-between;
			opacity: 0.6;
		}
	}
}

.dialog-wrap {
	.dialog-masker {
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(3px);
		z-index: var(--dialog-z-index)
	}

	&[data-modal="false"] {
		.dialog-masker {
			display: none;
		}

		.paper-dialog {
			border: 1px solid var(--color-element-border);
		}
	}
}
