@charset "UTF-8";
@use "./com.icon.scss" as icon;

.checker {
    @include icon.icon-button;
    & {
        --size: 1.5em;
        width: var(--size);
        height: var(--size);
        line-height: 1;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: var(--element-radius);
        overflow: hidden;
    }
    &:before {
        // content: "";
    }

    &.checked {
        background-color: var(--color-background);
        border-color: var(--color);
    }

    &-has-content {
        &:before {
            margin-right: 0.25em;
        }
    }
}
