@use "./namespace" as *;
@forward "./namespace";
@use "./mixins/icon.scss" as icon;

@font-face {
	font-family: '#{$ns}-icon';
	src: url('//at.alicdn.com/t/c/font_5219456_yyz4mkk4q17.woff2?t=1785839311028') format('woff2'),
		url('//at.alicdn.com/t/c/font_5219456_yyz4mkk4q17.woff?t=1785839311028') format('woff'),
		url('//at.alicdn.com/t/c/font_5219456_yyz4mkk4q17.ttf?t=1785839311028') format('truetype');
}

:root {
	--#{$ns}-font-icon: "#{$ns}-icon",
	sans-serif;

	--#{$ns}-color-background: #fff;
	--#{$ns}-color-background: canvas;

	--#{$ns}-color-danger: #ef4444;
	--#{$ns}-color-warning: #f59e0b;
	--#{$ns}-color-info: #3b82f6;
	--#{$ns}-color-success: #10b981;

	--#{$ns}-color-element-border: #ddd;
	--#{$ns}-color-element-border-secondary: #aaa;
	--#{$ns}-color-element-border-active: #bbb;


	--#{$ns}-element-height: 2em;
	--#{$ns}-element-padding: 0.25em;
	--#{$ns}-element-radius: 4px;

	--#{$ns}-dialog-zindex: 1000;
	--#{$ns}-toast-zindex: calc(var(--#{$ns}-dialog-zindex) + 2);
	--#{$ns}-overlay-zindex: var(--#{$ns}-dialog-zindex);

	--#{$ns}-panel-radius: 0.5em;
	--#{$ns}-panel-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
	--#{$ns}-panel-shadow-lite: 1px 1px 5px #cbcbcb7d;
	--#{$ns}-panel-drop-shadow: drop-shadow(var(--#{$ns}-panel-shadow-lite));
}

[role="button"] {
	user-select: none;
}

[role="button"]:not([disabled]),
[role="button"]:not([aria-disabled="true"]) {
	cursor: pointer;
}

[role="button"][disabled],
[role="button"][aria-disabled="true"] {
	pointer-events: none;
}