$namespace: minui;

@font-face {
	font-family: 'minui-font';
	src: url('//at.alicdn.com/t/c/font_5219456_yyz4mkk4q17.woff2?t=1785839311028') format('woff2'),
		url('//at.alicdn.com/t/c/font_5219456_yyz4mkk4q17.woff?t=1785839311028') format('woff'),
		url('//at.alicdn.com/t/c/font_5219456_yyz4mkk4q17.ttf?t=1785839311028') format('truetype');
}

:root {
	--font-large: 1.25rem;
	--font-small: 0.85rem;

	--font-icon: "minui-font", sans-serif;

	--line-height: 1.5;

	--color: #333;
	--color-secondary: #666;
	--color-vip: #e88b13;

	--color-danger: #ef4444;
	--color-warning: #f59e0b;
	--color-info: #3b82f6;
	--color-success: #10b981;

	--color-element-border: #ddd;
	--color-element-border-secondary: #aaa;
	--color-element-border-active: #bbb;

	--color-background: #fff;
	--color-background-secondary: #f1f1f1;
	--color-background-hover: #e5efff;
	--color-background-lite: #fafafa;

	--color-link: #3b82f6;
	--color-link-hover: #2563eb;

	--element-height: 2em;
	--element-padding: 0.25em;
	--element-border: 1px solid var(--color-element-border);
	--element-border-active: 1px solid var(--color-element-border-active);
	--element-radius: 4px;
	--input-min-width: 10em;

	--color-selector-size: 1.25em;

	--dialog-z-index: 1000;
	--toast-z-index: calc(var(--dialog-z-index) + 2);
	--overlay-z-index: var(--dialog-z-index);
	--novice-z-index: calc(var(--dialog-z-index) + 1);

	--panel-radius: 0.5em;
	--panel-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
	--panel-shadow-lite: 1px 1px 5px #cbcbcb7d;
	--panel-drop-shadow: drop-shadow(var(--panel-shadow-lite));
}

:export {
	namespace: $namespace;
}