@charset "UTF-8";
@use "./../namespace" as *;

@mixin icon($icon: var(--icon), $size: 1.6em) {
    font-family: var(--#{$ns}-font-icon);
    font-style: normal;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-variant: normal;
    text-transform: none;
    width: $size;
    height: $size;
    min-height: 0;
    padding: 0;

    &:before {
        content: $icon;
    }
}

@mixin icon-button {
    @include icon;

    & {
        cursor: pointer;
    }
}

@mixin icon-text {
    @include icon;

    &:before {
        margin-right: 0.1em;
    }
}

@mixin icon-text-button {
    cursor: pointer;
    @include icon-text;
}

@mixin icon-vtext-button {
    @include icon-button;

    & {
        display: inline-flex;
        gap: 0.5em;
        flex-direction: column;
        justify-content: center;
    }
}
