@charset "UTF-8";
@use "./../common.module.scss" as *;

@mixin panel {
	border-radius: var(--#{$ns}-panel-radius);
	box-shadow: var(--#{$ns}-panel-shadow);
	background-color: var(--#{$ns}-color-background);
	border: 1px solid var(--#{$ns}-color-element-border);
}

@mixin disabled {
	pointer-events: none !important;
	user-select: none !important;
	filter: grayscale(100%) !important;
	opacity: 0.5 !important;
}

@mixin ellipsis($line: 1) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-inline-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

@mixin portrait {
	@media (orientation: portrait) {
		@content;
	}
}

@mixin landscape {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin inDark {

	[data-theme="dark"] &,
	[data-theme="dark"] {
		@content;
	}

	@media (prefers-color-scheme: dark) {

		[data-theme="auto"] &,
		[data-theme="auto"] {
			@content;
		}
	}
}

@mixin inLight {

	[data-theme="light"] &,
	[data-theme="light"] {
		@content;
	}

	@media (prefers-color-scheme: light) {

		[data-theme="auto"] &,
		[data-theme="auto"] {
			@content;
		}
	}
}